<div class="eventpage">
	<div class="navbar fixed">
		<div class="left-side">
			<a href="../" class="techkriti-logo-container">
				<img src="./img/kachkachblue.png">
			</a>
		</div>
	</div>
	<div class="scrollble-tabs-container">
		<div class="scrollble-tabs">
			<div class="scrollable-tabs-helper">
				<div ng-click="selectTab(tab.title)" data-dataLoaded="{{dataLoaded}}" ng-class="{true: (tab.title==selected.tab)}" class="tab" ng-repeat="tab in event.desc">{{tab.title}}</div>
			</div>
		</div>
	</div>
	<div class="event-title-and-buttons">
		<div class="event-title-and-shadow-container">
			<span class="event-title">{{event.title}}</span>
		</div>
	</div>
	<div class="displayble" compile="eventContent" window-width></div>
</div>