*,*:after,*:before{
	box-sizing: border-box;
}
body{
	background-color: #ececec;
	font-family: san-francisco;
	font-family: "Montserrat";
	overflow-y: scroll;
}
a{
	color: inherit;
	text-decoration: none;
}